<br>
<div class="container-fluid action-bar" [@slideDown]="isOpen ? 'open' : 'close'">
    <div id="reportrange" class="datetimerangepicker" rippleOnClick (click)="isCalendarOpen()">
        <div class="calendar-icon">
            <i class="material-icons">calendar_today</i>
        </div>
        &nbsp;
        <span></span>
        &nbsp;
        <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="last-updated">
        <h5>Last Updated | {{ lastUpdated | date: 'yyyy-MM-dd h:mm:ss a' }}</h5>
    </div>
</div>
<br>
