<div class="overlay"
    *ngIf="isInitialTableReady !== 'yes'"
    [@showOverlay]="isInitialTableReady"
></div>

<div class="getting-clients"
    *ngIf="isInitialTableReady !== 'yes'"
    [@gettingClientsLoader]="isInitialTableReady"
    (@gettingClientsLoader.done)="isGettingClientsLoaderDone($event)"
>
    <h3>Getting Clients List</h3>
    <h6>Please Wait...</h6>
    <div class="getting-clients__progress-bar">
        <ng-progress #gettingClientsBar
            fixed="false"
            [spinner]="false"
            color="red"
            (completed)="gettingClientsBarCompleted()"
            id="getting-clients__progress-bar"
        ></ng-progress>
    </div>
</div>

<div class="table__wrapper"
    [@isInitialTableReady__Table]="isInitialTableReady__Table"
    (@isInitialTableReady__Table.start)="onIsInitialTableReady__Table($event)"
    (@isInitialTableReady__Table.done)="onIsInitialTableReady__Table($event)"
>
    <h1>Clients list</h1>

    <div class="report-table" #reportTable>
    <!-- <div class="report-table" #reportTable *ngIf="rowData?.length; else noClientsList"> -->
        <div class="report-table__length-search row justify-content-center justify-content-sm-between">
            <div class="report-table__length px-3">
                <app-report-table-length
                    [pageSizes]="pageSizes"
                    [initialPageSize]="initialPageSize"
                    (lengthChangeEvent)="onLengthChange($event)"
                ></app-report-table-length>
            </div>
            <div class="report-table__search px-3 mt-xs">
                <app-report-table-search
                    (searchChangeEvent)="onSearchChange($event)"
                ></app-report-table-search>
            </div>
        </div>
        <br>
        <ag-grid-angular
            class="ag-theme-material"
            [rowData]="rowData"
            [animateRows]="true"
            [defaultColDef]="defaultColDef"
            [columnDefs]="columnDefs"
            [frameworkComponents]="frameworkComponents"
            [loadingOverlayComponent]="loadingOverlayComponent"
            [noRowsOverlayComponent]="noRowsOverlayComponent"
            (gridReady)="onGridReady($event)"
            (viewportChanged)="onViewportChanged($event)"
        ></ag-grid-angular>

        <br>

        <div class="report-table__info-pagination row justify-content-center justify-content-sm-between">
            <div class="report-table__info px-3">
                <app-report-table-info
                    [recordsInfoFrom]="rowData?.length ? recordsInfo.from : '0'"
                    [recordsInfoTo]="recordsInfo.to"
                    [recordsInfoTotal]="recordsInfo.total"
                ></app-report-table-info>
            </div>
            <div class="report-table__pagination px-3 mt-xs">
                <ngb-pagination class="d-flex justify-content-end"
                    #reportTablePagination
                    [collectionSize]="paginationCollectionSize"
                    [page]="1"
                    [maxSize]="3"
                    [rotate]="true"
                    [ellipses]="true"
                    [boundaryLinks]="true"
                    appCustomNgbPagination
                    [pageSetTrigger]="pageSetTrigger"
                    (customPageChangeEvent)="onPageChange($event)"
                ></ngb-pagination>
            </div>
        </div>
    </div>

    <ng-template #noClientsList>
        <div class="no-clients-list">
            <span>No Data to Display!</span>
        </div>
    </ng-template>
</div>
