<div class="overlay"
    *ngIf="isInitialTableReady !== 'yes'"
    [@showOverlay]="isInitialTableReady"
></div>

<div class="getting-details"
    *ngIf="isInitialTableReady !== 'yes'"
    [@gettingDetailsLoader]="isInitialTableReady"
    (@gettingDetailsLoader.done)="isGettingDetailsLoaderDone($event)"
>
    <h3>Getting Details List</h3>
    <h6>Please Wait...</h6>
    <div class="getting-details__progress-bar">
        <ng-progress #gettingDetailsBar
            fixed="false"
            [spinner]="false"
            color="red"
            (completed)="gettingDetailsBarCompleted()"
            id="getting-details__progress-bar"
        ></ng-progress>
    </div>
</div>

<div class="table__wrapper"
    [@isInitialTableReady__Table]="isInitialTableReady__Table"
    (@isInitialTableReady__Table.start)="onIsInitialTableReady__Table($event)"
    (@isInitialTableReady__Table.done)="onIsInitialTableReady__Table($event)"
>
    <div class="details-list">
        <h1 class="details-list__text">Details List</h1>
        <div class="download-details">
            <button
                class="download-details__button"
                rippleOnClick
                [disabled]="!detailsData?.length"
                (click)="downloadDetailsEvent.emit(detailsTableRequest)"
            >
                <span>Download Details</span>
                <i class="material-icons">arrow_downward</i>
            </button>
        </div>
    </div>

    <br>

    <div class="details-table" #detailsTable>
        <div class="details-table__length-search row justify-content-center justify-content-sm-between">
            <div class="details-table__length px-3">
                <app-details-table-length
                    [pageSizes]="pageSizes"
                    [initialPageSize]="this.detailsTableRequest.length"
                    (lengthChangeEvent)="onLengthChange($event)"
                ></app-details-table-length>
            </div>
            <div class="details-table__search px-3 mt-xs">
                <app-details-table-search
                    [initialSearchValue]="this.detailsTableRequest.search"
                    (searchChangeEvent)="onSearchChange($event)"
                ></app-details-table-search>
            </div>
        </div>

        <br>

        <app-ag-grid-table
            [detailsData]="detailsData"
            (gridReadyEvent)="onGridReady($event)"
        ></app-ag-grid-table>

        <br>

        <div class="details-table__info-pagination row justify-content-center justify-content-sm-between">
            <div class="details-table__info px-3">
                <app-details-table-info
                    [detailsInfoFrom]="detailsData?.length ? detailsInfo.from : '0'"
                    [detailsInfoTo]="detailsInfo.to"
                    [detailsInfoTotal]="detailsInfo.total"
                ></app-details-table-info>
            </div>
            <div class="details-table__pagination px-3 mt-xs">
                <ngb-pagination class="d-flex justify-content-end"
                    #detailsTablePagination
                    [collectionSize]="paginationCollectionSize"
                    [maxSize]="3"
                    [rotate]="true"
                    [ellipses]="true"
                    [boundaryLinks]="true"

                    appCustomNgbPagination
                    [currentPage]="currentPage"
                    (customPageChangeEvent)="onPageChange($event)"
                ></ngb-pagination>
            </div>
        </div>
    </div>
</div>
