<header class="main-header">
    <mat-toolbar>
        <mat-toolbar-row>
            <button class="sidenav-toggle mat-button"
                    mat-button
                    *ngIf="!showLinks"
                    (click)="showSidenav()">
                <span class="mat-icon-wrapper">
                    <mat-icon class="mat-icon material-icons"
                              role="img"
                              aria-hidden="true">
                        menu
                    </mat-icon>
                </span>
                <div class="mat-button-ripple mat-ripple"
                     matripple>
                </div>
                <div class="mat-button-focus-overlay"></div>
            </button>

            <a class="navigation-link app-logo"
               routerLink="/summary">
                Angular Dashboard
            </a>

            <mat-nav-list class="action-links"
                 *ngIf="showLinks">
                 <mat-list-item class="navigation-link"
                                *ngFor="let item of navigationItems"
                                routerLinkActive="navigation-link--active"
                                [routerLink]="item.url">
                    {{ item.name }}
                </mat-list-item>

                <mat-divider class="vertical-divider"
                             [vertical]="true">
                </mat-divider>

                <mat-list-item [matMenuTriggerFor]="userMenu">
                    <mat-icon class="user-avatar">person_outline</mat-icon>
                    skydive
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            Logout
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </mat-menu>
                </mat-list-item>
            </mat-nav-list>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
