@import '~bootstrap/scss/bootstrap-grid.scss';

:host {
    z-index: 3;
}

.divider {
    width: 1px;
    background: var(--light);
    height: 1.4rem;
    display: none;
}

.one-space {
    display: none;
}

.logout-link {
    padding: .5rem 0;
}

.logout-link:hover {
    cursor: pointer;
}

@include media-breakpoint-up(md) {
    .divider {
        display: block;
    }

    .one-space {
        display: block;
    }

    .logout-link {
        padding: .5rem;
    }
}
