<div class="login">
    <div class="login__header">
        <div class="login__logo">
            <img src="/assets/images/angular.svg" alt="Angular Logo">
        </div>
    </div>

    <div class="login-horizontal-separator"></div>

    <form class="login__form"
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
        <div class="login-form__inputs">
            <div class="input-group">
                <i class="material-icons icon__person">person</i>
                <div class="login-form__control-container">
                    <div class="login-form__input-container">
                        <input id="username"
                               type="text"
                               class="form-control login-form__input"
                               placeholder="Username"
                               title="Your username"
                               aria-label="Username"
                               spellcheck="false"
                               formControlName="username"
                               maxlength="32">
                    </div>
                    <div class="form-error"
                         *ngIf="username.invalid && (username.dirty || username.touched)"
                         @errorSlideDown>
                        <div *ngIf="username?.errors?.required">
                            Username is required.
                        </div>
                        <div *ngIf="username?.errors?.minlength">
                            Username must be at least 5 characters long.
                        </div>
                        <div *ngIf="username?.errors?.maxlength">
                            Username must be no more than 32 characters in length.
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <i class="material-icons icon__vpn_key">vpn_key</i>
                <div class="login-form__control-container">
                    <div class="login-form__input-container">
                        <input class="form-control login-form__input"
                               id="password"
                               [type]="passwordFieldType"
                               placeholder="Password"
                               title="Your password"
                               aria-label="Password"
                               formControlName="password"
                               maxlength="128">
                        <i class="material-icons icon__visibility"
                           (click)="togglePasswordVisibility()">
                           {{ passwordVisibility ? 'visibility' : 'visibility_off' }}
                        </i>
                    </div>
                    <div class="form-error"
                         *ngIf="password.invalid && (password.dirty || password.touched)"
                         @errorSlideDown>
                        <div *ngIf="password?.errors?.required">
                            Password is required.
                        </div>
                        <div *ngIf="password?.errors?.minlength">
                            Password must be at least 8 characters long.
                        </div>
                        <div *ngIf="password?.errors?.maxlength">
                            Password must be no more than 128 characters in length.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal-separator"></div>

        <div class="login-form__submit-btn">
            <button class="btn"
                    type="submit"
                    rippleOnClick
                    [disabled]="loginForm.invalid || loggingIn">
                {{ loggingIn ? 'Logging In...' : 'Log In' }}
            </button>
        </div>
    </form>
</div>
