@import '~@angular/material/theming';

@mixin login-page-component-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $typography-config: mat-typography-config();

    app-login-page {

        .login-form__field {
            .mat-form-field-wrapper {
                width: 100%;
            }
        }

        .submit-btn {

            button {
                background-color: mat-color($app-palette-indigo, A400);
                color: mat-contrast($app-palette-indigo, A400);
                @include mat-elevation(6);

                &:hover:not(:disabled),
                &:focus:not(:disabled) {
                    @include mat-overridable-elevation(
                        6,
                        mat-color($app-palette-indigo, A400),
                        1
                    );
                }
            }
        }
    }
}
