@import '~@angular/material/theming';

@mixin login-page-component-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $typography-config: mat-typography-config();

    app-login-page {

        .login-form {
            $self: '.login-form';

            .field-focused {
                #{$self}__label {
                    color: mat-color($primary);
                }

                #{$self}__input-wrapper {
                    border-bottom: 1px solid mat-color($primary);
                }
            }

            .field-errored {
                #{$self}__label {
                    color: mat-color($app-palette-red);
                }

                #{$self}__input-wrapper {
                    border-bottom-color: mat-color($app-palette-red);
                }

                #{$self}__errors {
                    color: mat-color($app-palette-red);
                }
            }

            &__label {
                color: mat-color($foreground, secondary-text);
                @include mat-typography-level-to-styles($typography-config, caption);
            }

            &__input {

                &-wrapper {
                    border-bottom: 1px solid mat-color($foreground, secondary-text);
                }

                &:focus:not(:disabled) {}
            }

            &__errors {
                font-size: mat-font-size($typography-config, caption);
                margin-top: 0.5rem;
            }
        }

        .mat-icon {
            color: mat-color($foreground, 'text');
        }

        .submit-btn {

            button {
                background-color: mat-color($app-palette-indigo, A400);
                color: mat-contrast($app-palette-indigo, A400);
                @include mat-elevation(6);

                &:hover:not(:disabled),
                &:focus:not(:disabled) {
                    @include mat-overridable-elevation(
                        6,
                        mat-color($app-palette-indigo, A400),
                        1
                    );
                }
            }
        }
    }
}
