<div class="kpis">
    <app-kpi
        [kpiTitle]="'Total Calls'"
        [kpiValue]="kpis?.total_calls"
    ></app-kpi>
    <app-kpi
        [kpiTitle]="'Inbound Calls'"
        [kpiPercentTitle]="'Inbound calls with respect to total calls'"
        [kpiPercent]="(kpis?.inbound_calls / kpis?.total_calls) | percent: '.2'"
        [kpiValue]="kpis?.inbound_calls"
    ></app-kpi>
    <app-kpi
        [kpiTitle]="'Outbound Calls'"
        [kpiPercentTitle]="'Outbound calls with respect to total calls'"
        [kpiPercent]="(kpis?.outbound_calls / kpis?.total_calls) | percent: '.2'"
        [kpiValue]="kpis?.outbound_calls"
    ></app-kpi>
</div>