<div class="overlay"
    *ngIf="isInitialTableReady !== 'yes'"
    [@showOverlay]="isInitialTableReady"
></div>

<div class="getting-clients"
    *ngIf="isInitialTableReady !== 'yes'"
    [@gettingClientsLoader]="isInitialTableReady"
    (@gettingClientsLoader.done)="isGettingClientsLoaderDone($event)"
>
    <h3>Getting Clients List</h3>
    <h6>Please Wait...</h6>
    <div class="getting-clients__progress-bar">
        <ng-progress #gettingClientsBar
            fixed="false"
            [spinner]="false"
            color="red"
            (completed)="gettingClientsBarCompleted()"
            id="getting-clients__progress-bar"
        ></ng-progress>
    </div>
</div>

<div class="table__wrapper"
    [@isInitialTableReady__Table]="isInitialTableReady__Table"
    (@isInitialTableReady__Table.start)="onIsInitialTableReady__Table($event)"
    (@isInitialTableReady__Table.done)="onIsInitialTableReady__Table($event)"
>
    <h1>Clients list</h1>

    <div class="report-table" #reportTable>
    <!-- <div class="report-table" #reportTable *ngIf="rowData?.length; else noClientsList"> -->
        <div class="report-table__length-search row">
            <div class="report-table__length col-12 col-sm-5 col-md-3">
                <span>Show</span>
                &nbsp;
                <select class="form-control" (change)="onLengthChange($event.target.value)">
                    <option *ngFor="let pageSize of pageSizes" [value]="pageSize">{{ pageSize }}</option>
                </select>
                &nbsp;
                <span>Records</span>
            </div>
            <div class="col-sm-2 col-md-6"></div>
            <div class="report-table__search col-12 col-sm-5 col-md-3">
                <span>Search</span>
                &nbsp;
                <input type="text" placeholder="table..."  class="form-control" (input)="onSearchChange($event.target.value)" />
            </div>
        </div>
        <br>
        <ag-grid-angular
            class="ag-theme-material"
            [rowData]="rowData"
            [defaultColDef]="defaultColDef"
            [columnDefs]="columnDefs"
            (gridReady)="onGridReady($event)"
            (sortChanged)="onSortChanged($event)"
        >
        <!--     [pagination]="true"
            [paginationPageSize]="pageSizes[0]"
            (paginationChanged)="onPaginationChanged($event)" -->
        </ag-grid-angular>

        <br>

        <div class="report-table__info-pagination row">
            <div class="report-table__info col-12 col-sm-5 col-md-5">
                Showing {{ recordsInfo.from }} to {{ recordsInfo.to }} of {{ recordsInfo.total }} records
            </div>
            <div class="col-sm-2 col-md-2"></div>
            <div class="report-table__pagination col-12 col-sm-5 col-md-5">
                <ngb-pagination class="d-flex justify-content-end"
                    [collectionSize]="paginationCollectionSize"
                    [page]="page"
                    [maxSize]="3"
                    [rotate]="true"
                    [ellipses]="true"
                    [boundaryLinks]="true"
                    (pageChange)="onPageChange($event)"
                ></ngb-pagination>
            </div>
        </div>
    </div>

    <ng-template #noClientsList>
        <div class="no-clients-list">
            <span>No Data to Display!</span>
        </div>
    </ng-template>
</div>
