@import '~bootstrap/scss/bootstrap';
@import '~daterangepicker/daterangepicker.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-material.css';

:root {
    --smokey-black: #b7b7b7;
    // --grey-white: #f0f0f0;
    --grey-white: #fff;
}

body {
    height: 100vh;
    max-width: 100vw;
    font-family: Courier New, Helvetica, monospace;
    overflow-x: hidden;
}

// css for overriding yellowing of text fields on autocomplete of chrome browser
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
    -webkit-text-fill-color: inherit;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /*
        Using absolute paths to stop duplicating of font files when building app.
        If not, then ng build will duplicate font files with unique postfix everytime,
        update the urls with the new file paths, and create those new files in
        root folder, hence rendering font files in 'assets' folder useless.
    */
    src: url(/assets/fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
        url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.bg-grey-white {
    background-color: var(--grey-white);
}

// Date Time Range Picker styling
.daterangepicker {
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);

    .ranges {
        background-color: #f5f5f5;
        padding-right: 10px;

        li {
            font-size: inherit;
            padding: 10px 0 10px 16px;
            letter-spacing: 0.25px;
            text-shadow: 0 -1px rgba(0, 0, 0, 0.2);

            &:hover,
            &:focus {
                border-radius: 0 100px 100px 0;
                color: #1a73e8;
            }

            &.active {
                border-radius: 0 100px 100px 0;
                background-color: #1a73e8;
                color: white;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }

    &.show-calendar {

        .ranges {
            margin-top: 0;
        }
    }

    .drp-calendar {
        background: white;

        &.left {
            padding: 5px;
            margin: 6px 3px 6px 6px !important;
        }

        &.right {
            padding: 5px;
            margin: 6px 6px 6px 3px !important;
        }
    }

    .drp-buttons {
        background-color: white;

        .drp-selected {
            font-size: 1rem;
            letter-spacing: 1px;
            color: #111111;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        .btn {
            font-size: 1rem;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
            border-radius: 2px;

            &:active {
                box-shadow: none;
            }
        }
    }

    select {

        &.monthselect,
        &.yearselect,
        &.hourselect,
        &.minuteselect,
        &.ampmselect {
            background-color: #eeeeee;
            border: 1px solid #eeeeee;
            padding: 5px;
            color: #303030;
            font-size: 14px;
            width: auto;
        }
    }

    .calendar-table {
        padding: 0 !important;

        table {
            border-collapse: separate;
            border-spacing: 1px;
        }

        td,
        th {
            padding: 5px;
            font-size: 15px;
            border: 0;
        }
    }
}


/* report datatable styling */
div.dataTables_wrapper {
    box-shadow: 0 0 20px -8px rgba(0, 0, 0, 0.11), 0 0 5px 0 rgba(0, 0, 0, 0.08);
    padding: 1rem;

    div.dataTables_info {
        padding-top: 0;
    }
}

.table-footer {
    padding-top: 0.85em;

    &__info {
        display: flex;
        align-items: center;
    }
}

.paginate_button {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-last-child(1),
    &:nth-last-child(2) {

        i {
            height: 20px;
            display: flex;
            align-items: center;
        }
    }
}


/* Effects */

.ripple-element {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transform: scale(0);
}

.animate {
    animation: ripple 0.65s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}


// customizing ag-grid theme
.ag-theme-material {
    font-size: 1rem;

    .ag-header {
        font-size: 1rem;
        border-bottom: 0;
    }

    .ag-header-cell-label {
        width: 100%;

        .ag-header-icon {
            margin-left: auto;
        }
    }

    .ag-header-cell,
    .ag-header-group-cell {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ag-cell {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ag-overlay {
        pointer-events: all;
    }

    .ag-overlay-panel {
        display: flex;
    }

    .ag-overlay-no-rows-wrapper,
    .ag-overlay-loading-wrapper {
        flex: 1;
        display: flex;
    }

    .ag-overlay-loading-wrapper {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .ag-header-container {
        border-bottom: 1px solid rgba(0,0,0,0.3);
        margin: auto;
    }

    .ag-center-cols-container {
        margin: auto;
    }
}

.pagination {
    flex-wrap: wrap;
}

.page-item {

    &.active {
        .page-link {
            z-index: initial;
        }
    }
}
