<div class="action-links">
    <a class="user-info">
        <img class="user-image"
             src="/assets/images/angular.svg"
             alt="Angular Logo">
        <span class="user-name">
            {{ sidenavData.username }}
        </span>
    </a>
    <mat-nav-list class="navigation-links">
        <mat-list-item class="navigation-link"
                       *ngFor="let item of sidenavData.navigationItems"
                       routerLinkActive="active"
                       [routerLink]="item.url">
                       <!-- (click)="changeRoute(item.url)"> -->
            <a matLine>{{ item.name }}</a>
            <button mat-icon-button
                    (click)="changeRoute(item.url)">
                <mat-icon>info</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>

    <button class="logout-button"
            mat-raised-button
            color="warn"
            (click)="logout()">
        Logout
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
