@import '~@angular/material/theming';

@mixin sidenav-overlay-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    /** TODO: change class to the components one and not of the panel */
    .sidenav-overlay__panel {

        .navigation-link {

            &--active {
                color: mat-color($primary, default-contrast);
                background-color: mat-color($primary);
            }
        }

        .logout-button {
            color: mat-color($accent, default-contrast);
            background-color: mat-color($accent);
        }
    }
}
