@import '~@angular/material/theming';

@mixin action-bar-component-theme($theme) {
    $accent: map-get($theme, accent);
    $typography-config: mat-typography-config();

    /** TODO: change class to the components one and not of the panel */
    .app-action-bar {

        .datetimerangepicker__button {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast);
            font-size: mat-font-size($typography-config, subheading-2);
        }
    }
}
