<div class="getting-data__progress-bar">
    <ng-progress id="getting-data__progress-bar"
                 #gettingDataBar
                 fixed="false"
                 color="red"
                 [spinner]="false">
    </ng-progress>
</div>
<div class="line-separator"></div>
<div class="container-fluid action-bar">
    <button class="datetimerangepicker__button"
            #datetimerangeEl
            mat-raised-button
            (click)="toggleDateTimeRange()">
        <mat-icon>date_range</mat-icon>

        <div class="horizontal-space"></div>

        <span>{{ start | date: 'MMMM dd, yyyy' }} - {{ end | date: 'MMMM dd, yyyy' }}</span>

        <div class="horizontal-space"></div>

        <mat-icon>arrow_drop_down_circle_outline</mat-icon>
    </button>

    <div class="last-updated">
        <h5>Last Updated | {{ lastUpdated | date: 'dd-MM-yyyy h:mm:ss a' }}</h5>
    </div>
</div>
