:host {
    z-index: 2;
}

.action-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.last-updated {
    margin: 1rem 0 0 1rem;
    flex-grow: 1;
    text-align: right;

    h5 {
        margin-bottom: 0;
    }

    span {
        text-emphasis: shadow;
    }
}

.getting-data__progress-bar {
    >ng-progress {
        z-index: 1;
    }
}

// TODO: change to proper contextual class name
.datetimerangepicker__button {
    height: 3rem;
    border-radius: 3rem;
}
