<div class="getting-data__progress-bar">
    <ng-progress id="getting-data__progress-bar"
                 #gettingDataBar
                 fixed="false"
                 color="red"
                 [spinner]="false">
    </ng-progress>
</div>
<div class="line-separator"></div>
<div class="container-fluid action-bar">
     <!-- [@slideDown]="isOpen ? 'open' : 'close'"> -->
    <!-- <div id="reportrange"
         class="datetimerangepicker"
         rippleOnClick
         (click)="isCalendarOpen()">
        <div class="calendar-icon">
            <i class="material-icons">calendar_today</i>
        </div>
        &nbsp;
        <span></span>
        &nbsp;
        <i class="material-icons">arrow_drop_down</i>
    </div> -->

    <button class="datetimerangepicker__button"
            #datetimerangeEl
            mat-raised-button
            (click)="toggleDateTimeRange()">
        <div class="calendar-icon__wrapper">
            <mat-icon class="calendar-icon">calendar_today</mat-icon>
        </div>

        <div class="horizontal-space"></div>

        <span>{{ start | date: 'MMMM dd, yyyy' }} - {{ end | date: 'MMMM dd, yyyy' }}</span>

        <div class="horizontal-space"></div>

        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <div class="last-updated">
        <h5>Last Updated | {{ lastUpdated | date: 'dd-MM-yyyy h:mm:ss a' }}</h5>
    </div>
</div>
